:root {
    --main-color: #FC6E21;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

/* Start NavBar 1 */
.navbar {
    background-color: var(--main-color);
}
.navbar .search-nav {
    position: relative;
}

.navbar .search-nav input {
    border-radius: 4px;
    border: none !important;
    padding: 8px;
    padding-left: 10px;
    width: 640px;
}

.navbar .search-nav button {
    position: absolute;
    right: 7px;
    top: 3px;
    border: 0;
    color: var(--main-color);
}

.navbar .search-nav button:hover {
    background-color: #fff !important;
    color: #333333;
}

.navbar .search-nav button i {
    font-size: 18px;
}

.navbar .actions {
    align-items: center;
}

.navbar .actions i {
    position: relative;
    font-size: 22px;
    color: #fff;
    transition: 0.1s;
    font-weight: 300;
}

.navbar .actions .nav-link {
    color: #fff;
}
/* End NavBar 1 */

/* Start Categories */
.categories .categorie-item img {
    height: 315px;
}
.categories .categorie-item a {
    text-decoration: none !important;
}

/* End Categories */
.carousel-item {
    background-color: #000;
    height: 338px;
    background-position: center;
    background-size: contain;
}
/* Start Delivery */

form label {
    font-weight: 500;
}
form .input-btn {
    display: block;
    background-color: #fff;
    width: 100%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.13);
}
/* End Delivery */

footer {
    background-color: #222222;
}
footer .social-icons i {
    color: #fff;
    font-size: 18px;
    padding: 5px;
} 
footer h6 {
    font-weight: 400;
}
footer h6 a {
    text-decoration: none;
    color: var(--main-color);
}
footer h6 a:hover {
    color: var(--main-color);
}
/* Classes */
.rounded {
    border-radius: 4px !important;
}
.mt-80 {
    margin-top: 70px;
}
.mt-120 {
    margin-top: 170px;
}
.opacity {
    position: absolute;
    width: 100%;
    transition: 0.46s;
    height: 100%;
    background-color: #000;
    opacity: 0.42;
}

/*************************
Delivery Page
*************************/
.cities {
    list-style: none;
}
.cities li {
    background-color: #fff;
}
.cities li button {
    border: 1px solid var(--main-color);
    background: none !important;
    padding: 11px;
    outline: none;
    display: flex;
}
.cities li button i {
    align-self: center;
    margin-left: auto;
}
.cities .city .areas {
    list-style: none;
    padding-left: 0;
}
.cities .city .areas .area button {
    border: none;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.open {
    background-color: #000 !important;
}