:root {
    --main-color: #FC6E21;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

/* Start NavBar 1 */
.navbar {
    background-color: var(--main-color);
}
.navbar .search-nav {
    position: relative;
}

.navbar .search-nav input {
    border-radius: 4px;
    border: none !important;
    padding: 8px;
    padding-left: 10px;
    width: 640px;
}

.navbar .search-nav button {
    position: absolute;
    right: 7px;
    top: 3px;
    border: 0;
    color: var(--main-color);
}

.navbar .search-nav button:hover {
    background-color: #fff !important;
    color: #333333;
}

.navbar .search-nav button i {
    font-size: 18px;
}

.navbar .actions {
    align-items: center;
}

.navbar .actions i {
    position: relative;
    font-size: 22px;
    color: #fff;
    transition: 0.1s;
    font-weight: 300;
}

.navbar .actions .nav-link {
    color: #fff;
}
/* End NavBar 1 */

/* Start Categories */
.categories .categorie-item img {
    height: 315px;
    object-fit: cover;
}
.categories .categorie-item a {
    text-decoration: none !important;
}

/* End Categories */
.carousel-item {
    background-color: #000;
    height: 338px;
    background-position: center;
    background-size: contain;
}
/* Start Delivery */

form label {
    font-weight: 500;
}
form .input-btn {
    display: block;
    background-color: #fff;
    width: 100%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.13);
}
/* End Delivery */

footer {
    background-color: #222222;
}
footer .social-icons i {
    color: #fff;
    font-size: 18px;
    padding: 5px;
} 
footer h6 {
    font-weight: 400;
}
footer h6 a {
    text-decoration: none;
    color: var(--main-color);
}
footer h6 a:hover {
    color: var(--main-color);
}
/* Classes */
.rounded {
    border-radius: 4px !important;
}
.mt-80 {
    margin-top: 70px;
}
.mt-120 {
    margin-top: 170px;
}
.opacity {
    position: absolute;
    width: 100%;
    transition: 0.46s;
    height: 100%;
    background-color: #000;
    opacity: 0.42;
}

/*************************
Delivery Page
*************************/
.cities {
    list-style: none;
}
.cities li {
    background-color: #fff;
}
.cities li button {
    border: 1px solid var(--main-color);
    background: none !important;
    padding: 11px;
    outline: none;
    display: flex;
}
.cities li button i {
    align-self: center;
    margin-left: auto;
}
.cities .city .areas {
    list-style: none;
    padding-left: 0;
}
.cities .city .areas .area button {
    border: none;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.open {
    background-color: #000 !important;
}
.side-nav {
    z-index: 100000000000000000000;
}
.my-nav {
    display: none;
}
.categorie .sub-categories-box a {
    color: #333333;
    text-decoration: none;
    font-weight: 500;
    transition: 300ms;
}
.categorie .sub-categories-box a:hover {
    color: var(--main-color);
}
.categorie .sub-categories-box a.active {
    color: var(--main-color);
}
.categorie .sub-categories-box a span {
    font-size: 14px;
    margin-left: 4px;
    opacity: 0.83;
}
.categorie .sub-categories-box a.active span {
    opacity: 0.6;
}
.categorie .product-item {
    overflow: hidden;
}
.categorie a {
    text-decoration: none;
    color: #333333;
}
.categorie .product-item img {
    width: 100%;
    height: 184px;
    object-fit: cover;
}
.categorie .product-item p {
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 0 !important;
}
.product img {
    height: 400px;
    object-fit: cover;
}
.product .items-num button {
    width: 43px;
    height: 43px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.16);
    font-size: 24px;
    border-radius: 50%;
}
.product .items-num span {
    font-weight: 500;
    font-size: 22px;
}
.product a {
    padding: 15px 30px;
    background: #333333;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}
.product a i {
    font-weight: 200;
}
.register form select,input {
    border: 1px solid rgba(0, 0, 0, 0.14);
    padding: 9px;
}
@media screen and (max-width: 480px) {
    .navbar {
        display: none;
    }
    .categories .categorie-item img {
        height: 200px;
    }
    .side-nav {
        width: 76%;
        background-color: rgba(0, 0, 0, 0.571);
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 10;
    }
    .side-opacity {
        width: 100%;
        top: 0;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.571);
    }
    .product .col-md-7 {
        margin-top: 15px;
    }
    .items-num {
        display: block;
    }
    .product a {
        display: inline-block;
        margin-left: 0 !important
    }
    .zzq {
        margin-top: 8px !important;
    }
    .side-nav .nave {
        width: 100%;
        height: 100vh;
        position: absolute;
    }
    .side-nav .logo-box {
        height: 25vh;
        width: 100%;
        background-color: var(--main-color);
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .side-nav .logo-box img {
        width: 90px;
        margin-left: auto;
        margin-right: auto;
    }
    .side-nav .pages ul {
        list-style: none;
        padding: 0 !important;
    }
    .side-nav .pages ul li {
        margin-left: 20px;
    }
    .side-nav .pages ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #62747E;
        font-weight: 700;
    }
    .side-nav .pages ul li a i {
        text-decoration: none;
        font-size: 19px;
        color: var(--main-color);
    }
    .side-nav .pages ul hr {
        margin-top: 13px;
        margin-bottom: 13px;
    }
    .side-nav .text-center p a {
        color: var(--main-color);
        text-decoration: none;
    }
    .my-nav {
        top: 0;
        display: block;
        position: fixed;
        z-index: 1000;
        width: 100%;
        background: var(--main-color);
    }
    .my-nav.on-scroll {
        background: transparent;
    }
    .my-nav ul {
        list-style: none;
        margin-bottom: 0px !important;
    }
    .my-nav ul button {
        background: none;
        border: none;
        padding: 0;
        color: #fff;
    }
    .my-nav ul button svg {
        height: 16px;
    }

    .my-nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }

    .my-nav ul i {
        color: #fff;
    }

    .carousel-item {
        background-color: #000;
        height: 250px;
        background-position: center;
        background-size: contain;
    }
    .solid {
        background-color: var(--main-color) !important;
        transition: background-color 0.5s ease 0s;
    }
    .products {
        margin-top: 20px;
    }
    .categorie .product-item img {
        height: 110px;
    }
  } 